body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.floating-section {
    position: fixed;
    top: 20%;
    left: 5px;
    /* Adjust as needed */
    transform: translateY(-50%);
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: none;
}

.shape-option {
    cursor: pointer;
    margin-bottom: 10px;
}

.display-section {

    /* Adjust as needed */
    padding: 20px;
    border: 1px solid #ccc;
}

/* Shapes styling (for demonstration purposes) */
#circle {
    width: 100px;
    height: 100px;
    background-color: #f00;
    border-radius: 50%;
}

#square {
    width: 100px;
    height: 100px;
    background-color: #0f0;
}

#triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #00f;
}

#modification-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: none;
}

#modification-container > div {
    margin-right: 10px;
}

#position-section,
#rotation-section,
#size-section,
#scale-section {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
}
#position-section button,
#rotation-section button,
#size-section button,
#scale-section button {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}